<div class="d-flex">
<h1 class="text-center">TU NIDO DIGITAL</h1>
</div>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem vero, sequi quo placeat, inventore accusamus esse accusantium facilis ex deserunt adipisci aliquid eveniet dolor maxime, natus itaque ut eius dicta!</p>